html,body {
  background-color: #757575;
  color: #80CBC4;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.table th, td {
   text-align: center;
   vertical-align: middle;
   border: 2px solid !important;
   border-color: #80CBC4 !important;
}
.table th {
   background-color: #616161;
}
.table td {
   padding: 2px;
}
.table td:hover {
    background: #BDBDBD;
    background: linear-gradient(to bottom right, #BDBDBD, #757575);
}
.loading-gif {
	margin-top: 50px;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
button {
  margin-left: 2px;
}
a:link,
a:visited {
  color: #26A69A;
}

.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs .nav-link {
    border: 2px solid #80CBC4;
    background: #616161;
    background: linear-gradient(to bottom right, #424242, #616161);
    color: #80CBC4;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:active,
.nav-tabs .nav-link.active:visited
{
    color: #004D40;
    border: 2px solid;
    border-color: #80CBC4;
    background: #80CBC4;
    background: linear-gradient(to bottom right, #80CBC4, #B2DFDB );
}
.nav-tabs .nav-link:hover {
    border: 2px solid;
    border-color: #80CBC4;
}
.btn-secondary.active {
    border: 2px solid;
    border-color: #80CBC4;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background: #424242;
  background: linear-gradient(to bottom right, #757575, #212121);
}
.btn-primary {
    color: #fff;
    background-color: #26A69A;
    border-color: #00897B;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00897B;
    border-color: #00897B;
}
.nav-link.left-nav.active,
.nav-link.left-nav.active:hover,
.nav-link.left-nav.active:focus {
	background-color: #4DB6AC;
}

.text-muted {
    padding-top: 8px;
    vertical-align: middle;
}

.modal-body {
    color: #424242;
}
.modal-body .mega-octicon {
    font-size: 20px;
}
.modal-body .mega-octicon.octicon-dash {
    padding-left: 18.5px;
    padding-right: 18.5px;
}
.modal-body .list-group-item {
    line-height: 35px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
}
.configuration-heading {
    border: 1px solid;
    border-radius: .5rem;
    background-color: #80CBC4;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.configuration-heading-text {
    color: #373a3c !important;
    margin-left: 10px;
}
.form-control-feedback {
    margin-bottom: 10px;
}
.alert {
	margin-bottom: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 4px;
}
.environment-datacenter-row {
	padding-left: 50px;
	padding-right: 50px;
}
.heading-bar,
.heading-bar:hover {
    background-color: #FFFFFF;
    color: #373a3c;
    border-width: 0px;
}
.panel-title-config {
    padding-left: 10px;
    font-size: 1.1em;
}
.octicon-primitive-dot {
    padding-right: 5px;
}
.nav-stacked {
    margin-top: 10px;
}
.list-group {
    margin-bottom: 10px;
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #80CBC4;
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link:focus,
.navbar-dark .navbar-nav .active>.nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.active:focus,
.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link.open,
.navbar-dark .navbar-nav .nav-link.open:focus,
.navbar-dark .navbar-nav .nav-link.open:hover,
.navbar-dark .navbar-nav .open>.nav-link,
.navbar-dark .navbar-nav .open>.nav-link:focus,
.navbar-dark .navbar-nav .open>.nav-link:hover {
    color: #80CBC4;
}
.application-input,
.datacenter-input {
    margin-top: 20px;
    margin-bottom: 10px;
}
.environment-count {
    border-radius: 24px;
}
.environment-count:hover {
    background-color: #5bc0de;
}
.node-discovery-tag-complete {
	margin-top: 5px;
	margin-right: 5px;
	background-color: #81C784;
}
.node-discovery-tag-incomplete {
	margin-top: 5px;
	margin-right: 5px;
	background-color: #FFEB3B;
}
#title-bar {
  color: #80CBC4;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #424242;
  background: linear-gradient(to bottom right, #212121, #757575);
}
#settings-button,
#settings-button:focus,
#settings-button:active {
  background: #212121;
  background: linear-gradient(to bottom right, #616161, #212121);
  color: #80CBC4;
  padding: 0;
  border-radius: 1rem;
  outline: none !important;
}
#data-center-dashboard {
  padding-top: 10px;
}

li.placeholder {
    background: #80CBC4;
    padding-left: 15px;
}
li.placeholder:before {
  content: "Drop here";
  color: #9E9E9E;
}
.app-env-status {
    padding: .1rem;
    border: 0px;
    color: #424242;
    font-size: x-large;
    margin: 2px;
}
.status-down {
    background: #E57373;
    background: linear-gradient(to bottom right, #EF9A9A, #E57373);
    color: #B71C1C;
    border: 2px solid;
    border-color: #B71C1C;
}
.status-up {
    background: #81C784;
    background: linear-gradient(to bottom right, #81C784, #A5D6A7);
    color: #1B5E20;
    border: 2px solid;
    border-color: #1B5E20;
}
.app-env-status-container {
    padding-left: 2px;
    padding-right: 2px;
}
.app-env-status-deps {
    border: 1px solid;
    border-color: #E65100;
    border-radius: .5rem;
    background: #FFCC80;
    background: linear-gradient(to bottom right, #FFCC80, #FFE0B2);
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #E65100;
}
.node-discovery-label {
	padding-right: 5px;
}
.node-discovery-input {
	padding-left: 5px;
}
.node-discovery-heading {
    margin-bottom: 5px;
    background-color: #80CBC4;
    padding: 5px;
    padding-left: 10px;
    border-radius: .25rem;
    color: white;
}
.app-env-status-td {
	cursor: pointer;
}
.status-summary {
	max-width: 800px;
}
.status-summary-table {
	border: 0px !important;
	padding-right: 20px;
}
.down-dependency {
    background-color: #FFCDD2;
    background: linear-gradient(to bottom right, #EF9A9A , #FFCDD2);
    border-radius: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    color: #B71C1C;
}
.status-summary-link {
	margin-right: 20px;
	margin-left: 20px;
}
.modal-status-content {
    color: #26A69A;
}
.list-group-item:first-child {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.list-group-item-success {
    color: #1B5E20;
    background: #C8E6C9;
    background: linear-gradient(to bottom right, #A5D6A7, #C8E6C9);
}
.list-group-item-danger {
    color: #B71C1C;
    background: #FFCDD2;
    background: linear-gradient(to bottom right, #FFCDD2, #EF9A9A);
}

.setup-alert {
    border-color: #00796B;
    color: #00796B;
    border: 2px solid;
    background: #80CBC4;
    background: linear-gradient(to bottom right, #80CBC4, #B2DFDB);
    margin-top: 25px;
}
.rotate-button {
    border-radius: 1rem;
    font-size: 24px;
    line-height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;
    background: #212121;
    background: linear-gradient(to bottom right, #616161, #212121);
    color: #80CBC4;
    border: 2px solid;
}
.rotate-button:focus,
.rotate-button:active {
    outline: none !important;
}

.rotate-true {
    color: #80CBC4;
}
.rotate-false {
    color: grey;
}