
html,body {
  background-color:#757575;
  color: white;
}
.table th, td {
   text-align: center;
   vertical-align: middle;
   /*border-color: #80CBC4;*/
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
button {
  margin-left: 2px;
  margin-right: 2px;
}
a:link {
    color: white;
}

#title-bar {
  color: #80CBC4; padding-top: 8px; padding-bottom: 8px; background-color:#424242;
}
#settings-button {
  background-color: #212121; color: #80CBC4;
}
#data-center-dashboard {
  padding-top: 10px;
}
